:root {
  background-color: #414756;
  font-size: 70%;
}

* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  color: #414756;
}
.navbar {
  background-color: #282828;
}

.navbar > * {
  width: 100%;
}

.navbar2 {
  background-color: #414756;
}

.navbar2 > * {
  width: 100%;
}

h1,
h2,
h3,
h4,
h5 {
  margin-bottom: 1rem;
  color: white;
}

h1 {
  font-size: 5.4rem;
  margin-bottom: 5rem;
}

h1 > span {
  font-size: 2.4rem;
  font-weight: 500;
}

h2 {
  font-size: 4.2rem;
  margin-bottom: 4rem;
  font-weight: 700;
}

h3 {
  font-size: 2.8rem;
  font-weight: 500;
}

h5 { 
  font-size: 2rem;
}

/* UTILITIES */

.container {
  background-color: #414756;
  width: 80%;
  max-width: 1000px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 80rem;
  margin: 0 auto;
  padding: 2rem;
}

.container > * {
  width: 100%;
}

.cont {
  height: 6vh;
}


.container1 {
  width: 100vw;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container1 > * {
  width: 100%;
}

.main {
  width: 100%;
}

.main img {
  width: 100%;
  height: auto;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.text-center {
  text-align: center;
}

.hidden {
  display: none;
}

/* SELECT / OPTION */

.box {
  position: relative;
}

.box select {
  background: #8ba6a9;
  color: #fff;
  padding: 10px;
  width: 200px;
  height: 40px;
  border: none;
  font-size: 16px;
  box-shadow: 0 5px 25px rgba(0,0,0,.5);
  -webkit-appearance: button;
  outline: none;
  border-radius: 15px;
  border: 0px solid #000000;  
}

.box:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: '\f078';
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  color: #fff;
  font-size: 28px;
  background: #007ce0;
  pointer-events: none;
  border-radius: 15px 15px;
  -webkit-border-radius: 0px 15px 15px 0px;
  border: 0px solid #000000;
}

.box:hover:before {
  background: #0472ca;
}

/* BUTTONS */
.btn {
  font-size: 1.8rem;
  padding: 1rem 0;
  width: 20rem;
  text-align: center;
  border: 0.1rem solid #56a5eb;
  margin-bottom: 1rem;
  text-decoration: none;
  color: #56a5eb;
  background-color: white;
  border-radius: 15px;
  border: 0px solid #000000;
  height: auto;
}

.btn:hover {
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
  transform: translateY(-0.1rem);
  transition: transform 150ms;
}

.btn[disabled]:hover {
  cursor: not-allowed;
  box-shadow: none;
  transform: none;
}

/* FORMS */
form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  margin-bottom: 1rem;
  width: 20rem;
  padding: 1.5rem;
  font-size: 1.8rem;
  border: none;
  box-shadow: 0 0.1rem 1.4rem 0 rgba(86, 185, 235, 0.5);
}

input::placeholder {
  color: #aaa;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 35px;
  background-color: #111111;
  text-align: center;
}