.box-1 {
  text-align: center;
  margin: 25px auto;
  width: 200px;
  height: 30px;
}
 #forms_1 {
  border-radius: 50px;
 }

#highScoresList {
  list-style: none;
  padding-left: 0;
  margin-bottom: 4rem;
  color: white;
}

.high-score {
  font-size: 2.8rem;
  margin-bottom: 0.5rem;
  color: white;
}

.high-score:hover {
  transform: scale(1.025);
  color: white;
}
